# Git
.git
.gitignore
.github

# Docker
docker-compose.yml
.docker

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
media/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Environments
.env
.venv
env/
venv/
ENV/

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Render
render.yaml
build.sh
nixpacks.toml
railway.toml

# Node
node_modules/
